.container {
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin: 4px;
  white-space: nowrap;
}

.fullWidth {
  display: block;
  width: 100%;
  margin: 2px 0;
  text-align: left;
}

