.container {
  display: inline-flex;
  background: var(--color-bg-sec);
  border-radius: 8px;
  padding: 4px;
  gap: 4px;
  // border: 1px solid var(--color-border-main);
}

.option {
  padding: 8px 20px;
  border: 1px solid transparent;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: var(--color-sec);
  transition: all 0.2s ease;
  white-space: nowrap;
  min-width: 56px;
  text-align: center;

  &:hover {
    background: var(--color-bg-sec-2);
    color: var(--color-main);
  }

  &.active {
    background: var(--color-bg-sec-2-trans);
    color: var(--color-main);
    border: 1px solid var(--color-border-main);

    &:hover {
      background: var(--color-bg-sec-2-trans);
      color: var(--color-main);
    }
  }
}

